nav {
  font-family: Cyreal;
  display: flex;
  justify-content: space-between;
  background-color: rgb(67, 0, 129);
  padding: 0.8rem;
  color: #fff;
  width: 100vw;
}

header{
  width: 100vw;
}

h1 {
  margin: 0%;
  font-size: 4.2rem;
  text-shadow: 3px 11px 4px rgba(0, 0, 0, 0.88);
}

a {
  margin: 0%;
  display: flex;
  color: unset;
  align-items: center;
  text-decoration: none;
}

.git:hover {
  color: unset;
}

.git p {
  display: flex;
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.git img {
  width: 3.1rem;
}
